
#root{
  height: 100vh;
  width: 100%;
}
.login__page-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.input-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}

.input{
  border: 1px solid blue;
  border-radius: 1em;
  padding: 0.5em;
  min-width: 280px;
}
.label{
  margin-left: 0.5em;
}

.button{
  width: 100%;
  border: 1px solid grey;
  padding: 0.3em 1.5em;
  border-radius: 0.5em;
}

.error{
  color: red;
  font-size: 0.9em;
  margin-left: 0.5em;
}

.login-form{
  border: 1px solid blue;
  padding: 2em;
}

.login-legend{
  font-size: 3em;
}

.options-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.divider{
  margin: 0 3rem;
}

.singup-link{
  border: 1px solid green;
  border-radius: 0.5em;
  padding: 0.3em 1em;
  text-align: center;
  width: 100%;
}