#root {
  height: 100vh;
  width: 100%;
}
.login__page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}

.input {
  border: 1px solid blue;
  border-radius: 1em;
  padding: 0.5em;
  min-width: 280px;
}
.label {
  margin-left: 0.5em;
}

.button {
  width: 100%;
  border: 1px solid grey;
  padding: 0.3em 1.5em;
  border-radius: 0.5em;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-left: 0.5em;
}

.login-form {
  border: 1px solid blue;
  padding: 2em;
}

.login-legend {
  font-size: 3em;
}

.options-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.divider {
  margin: 0 3rem;
}

.singup-link {
  border: 1px solid green;
  border-radius: 0.5em;
  padding: 0.3em 1em;
  text-align: center;
  width: 100%;
}

.auth-failed {
  color: red;
  font-size: 20px;
}

.error-smthng-went-wrong {
  color: red;
  font-size: 60px;
}

.logout-button {
  padding: 1em 2em;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
}

.loading-text {
  color: rgb(18, 41, 66);
  font-weight: bold;
  font-size: 46px;
}

.todo-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 2.5em auto;
}

.todo-item {
  padding: 1em 1.5em;
  background-color: #c5ddf8;
  margin: 0.5em;
  width: clamp(250px,30vw,400px);
  border-radius: 0.5em;
  color: #1c294f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
span.todo-title {
  font-size: 20px;
  text-transform: capitalize;

  color: rgb(82, 80, 80);
}
h1.todo-item-title {
  font-weight: bold;
  font-size: 35px;
  margin: 0.5em 0;
}

.todo-item-title {
  font-size: 24px;
}

span.todo-description {
  font-size: 20px;
  color: rgb(82, 80, 80);
}
p.todo-description{
  font-size: 25px;
  margin: 20px 0;
}

.buttons-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button{
  background-color: red;
  color: white;
  padding: 0.8em 1.5em;
  border-radius: 0.5em;
}

.status-checkbox{
  width: 30px;
  height: 30px;
  accent-color: #32cf18;
}
.header{
  display: flex;
  justify-content: flex-end;
  max-width: 1080px;
  margin: 0 auto;
}

.status-text{
  font-size: 20px;
}

.checkbox-wrapper{
  display: flex;
  gap: 1em;
}